body {
    padding: 0;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    background-color: #95E1F9; 
}
h1 {
    font: 40px bolder ;
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 15px;

}
.form-div {
    margin-bottom: 15px;
    padding-left: 20px;
    text-align: center;
}
input[type=text],
input[type=date],
input[type=password] {
    padding: 6px 20px;
    width: 25%;
} 
.btn #submit-button {
    background-color: white;
    color: black;
    padding: 10px;
    font-weight: bolder;
    width: 100px;
    font-size: medium;
    border: 3px solid #95E1F9 ;
}
.btn #submit-button:hover {
    border-color:#95E1F9;
    box-shadow: 0px 0px 10px #95E1F9;
}
.btn p {
    background-color:#95E1F9;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    font: 30px bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.error-message  {
    color: #ff0000;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}